body {
 background-color: lightskyblue;
 background-image: url(..images/pexels-quintin-gellar-313782.jpg);
 width: 100%;
 margin: auto;
}

form{
    background-color: lightblue;
    width: auto;
    margin: auto;
    display: inline-block;
    
}
header {
  background-color: white;
  width: 100%;
  margin: auto;
}

header{
    
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  vertical-align: auto;
}

